# Ignored folders

dist/*
node_modules/*
static/css/*
static/img/*
static/js/*
logs/*
.yarn/*

# Ignored source code files
test-qs-config.js
src/secret-key
src/session.secrets.ts
src/DEV/EXPERIMENT
src/business.logic/jsonapi.request.driver.example.ts
src/shared/interfaces.zip
src/examples/*

# Ignored development files
tuberdb-test.annotations.json

# Ignored documentation files
NOTES.md
designdoc.md
DEV.md
JWT-PRODUCTION.md
JWT-TOKEN-LIFESPAN.md
src/endpoint/INTEGRATION_TEST.listing.by.id.ep.md
src/endpoint/README.listing.by.id.ep.md
JSON_API_COMPLIANCE_ANALYSIS.md

# Ignored files
d1684a88be5c08aed50f565d9c8063ca.txt
package-lock.json
yarn.lock

.env
.env.development
.env.production
.env.production.example
.env.app-config
.env.twitch
DEV.default.rest
DEV.builder.rest
DEV.env.var.rest
DEV.col.bookmarks.rest
fix-imports.ps1

# pnpm
.pnpm-debug.log*
